#wrapper2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

    .red {
        color:red;
    }

    .yellow {
        color: yellow;
    }

    .black {
        color: black;
    }

    .green {
        color: green;
    }

    .test { 
        margin-top: 10px;
        margin-left: 15px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 29px;
        text-align: center;
    }
}